.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  margin: 5px;
}

.bodyimg {
  color: white;
  background-image: url("bg.jpg");
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 200px;
}

.Origami img {
  border-width: 4px;
  border-radius: 50px;
  border-color: black;
  border-style: solid;
  margin: 50px;
}

.Origami {
  background-color: darkcyan;
  width: 300px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-width: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

.menu h1 {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 40;
  color: white;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}

a:visited {
  color: rgb(18, 78, 33);
}

.Origami h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;
  opacity: 0;
}
.Origami:hover h2 {
  opacity: 1;
}
.Origami:hover img {
  opacity: 0.33;
}
.Origami {
  position: relative;
}
